#hm-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--wp--preset--color--primary-light);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	transition: all 2000ms cubic-bezier(0.5, 0, 0, 1);

	&.hidden {
		transform: translateY(-100%);
	}

	dotlottie-player {
		animation: loader-fade-in 1s ease-in-out;
	}

	@keyframes loader-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@media screen and (max-width: 768px) {
		dotlottie-player {
			width: 150px !important;
			height: 150px !important;
		}
	}
}
