.hm-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 1200ms;

	&.active {
		opacity: 1;
		visibility: visible;
		z-index: 9999;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: white;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		z-index: 9999;
		width: 450px;
		box-sizing: border-box;

		img {
			width: calc(100% - 6rem);
			margin: 0.5rem 0;
		}
	}

	&__title {
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
	}

	&__content {
		margin-bottom: 1.5rem;

		p {
			margin-top: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media screen and (max-width: 768px) {
		&__container {
			width: 60%;
		}
	}

	@media screen and (max-width: 525px) {
		&__container {
			width: 85%;
		}

		&__title {
			font-size: 1.2rem;

			img {
				width: 80%;
			}
		}

		&__content {
			font-size: 0.9rem;
			line-height: 1.5rem;
		}
	}
}
