.hm-scroll-to-top {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 999px;
	border: none;
	box-sizing: border-box;
	background: var(--wp--preset--color--secondary-light);
	padding: 1rem;
	cursor: pointer;
	transition: all 200ms;
	z-index: 99;

	&:hover {
		transform: scale(0.85);
	}

	svg {
		width: 1rem;
		fill: var(--wp--preset--color--dark);
	}

	@media screen and (max-width: 768px) {
		&:hover {
			transform: none;
		}
	}

	@media screen and (max-width: 600px) {
		bottom: 5rem;
	}

	@media screen and (max-width: 525px) {
		padding: 0.75rem;

		svg {
			width: 0.75rem;
		}
	}
}
