name: Deploy to Production

on:
    push:
        branches:
            - main

jobs:
    ftp-deploy:
        runs-on: ubuntu-latest
        environment: production
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy Root Files
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: ${{ secrets.FTP_HOST }}
                  port: ${{ secrets.FTP_PORT }}
                  protocol: ${{ secrets.FTP_PROTOCOL }}
                  username: ${{ secrets.FTP_USER }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: ./
                  server-dir: ${{ secrets.FTP_SERVER_DIR }}
                  timeout: 60000
                  security: strict
                  exclude: |
                      wp-content/**
                      .git/**
                      .github/**
                      node_modules/**
                      vendor/**

            - name: Deploy Theme
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: ${{ secrets.FTP_HOST }}
                  port: ${{ secrets.FTP_PORT }}
                  protocol: ${{ secrets.FTP_PROTOCOL }}
                  username: ${{ secrets.FTP_USER }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: wp-content/themes/lheureux-mix/
                  server-dir: ${{ secrets.FTP_SERVER_DIR }}/wp-content/themes/lheureux-mix/
                  timeout: 60000
                  security: strict

            - name: Deploy Plugin - Heureux Mix Utils
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: ${{ secrets.FTP_HOST }}
                  port: ${{ secrets.FTP_PORT }}
                  protocol: ${{ secrets.FTP_PROTOCOL }}
                  username: ${{ secrets.FTP_USER }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: wp-content/plugins/heureux-mix-utils/
                  server-dir: ${{ secrets.FTP_SERVER_DIR }}/wp-content/plugins/heureux-mix-utils/
                  timeout: 60000
                  security: strict

            - name: Deploy Plugin - Heureux Mix Blocks
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: ${{ secrets.FTP_HOST }}
                  port: ${{ secrets.FTP_PORT }}
                  protocol: ${{ secrets.FTP_PROTOCOL }}
                  username: ${{ secrets.FTP_USER }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: wp-content/plugins/heureux-mix-blocks/
                  server-dir: ${{ secrets.FTP_SERVER_DIR }}/wp-content/plugins/heureux-mix-blocks/
                  timeout: 60000
                  security: strict